@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500&display=swap');

body{
  background-color: #20212A;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.App{
  max-width: 1080px;
  margin:100px auto;
}

.App h1{
  font-size: 20px;
}

.container_boards{
  width: 100%;

  display: flex;
  justify-content: space-around;
}